<!DOCTYPE html>
<html>
 <head>
     <title>展示</title>
 <meta charset="utf-8">
     <link href='/static/css/bootstrap.min.css' rel='stylesheet' type='text/css' />
 </head>
 <body>
 <p>{{ list3 }}</p>
 <p>{{ list4 }}</p>
<div class="container">
        <table style="width: 600px;" class="table table-striped table-hover table-bordered">
            <thead>
            <tr class = "success">
                <th colspan="3">apriori产生的规则</th>
            </tr>
                <tr class = "danger">
                    <th >前验</th>
                    <th >后验</th>
                    <th>置信度</th>
                </tr>
            </thead>
            <tbody>
                <tr class = "success">
                    <td>{{list1.0 }}</td>
                    <td>{{list1.1 }}</td>
                    <td>{{list1.2 }}</td>
                </tr>
                <tr class = "info">
                    <td>{{list1.3 }}</td>
                    <td>{{list1.4 }}</td>
                    <td>{{list1.5 }}</td>
                </tr>
                <tr class = "warning">
                    <td>{{list1.6 }}</td>
                    <td>{{list1.7 }}</td>
                    <td>{{list1.8 }}</td>
                </tr>
                <tr class = "info">
                    <td>{{list1.9 }}</td>
                    <td>{{list1.10 }}</td>
                    <td>{{list1.11 }}</td>
                </tr>
                <tr class = "active">
                    <td>{{list1.12 }}</td>
                    <td>{{list1.13 }}</td>
                    <td>{{list1.14 }}</td>
                </tr>
                    <tr class = "danger">
                    <td>{{list1.15 }}</td>
                    <td>{{list1.16 }}</td>
                    <td>{{list1.17 }}</td>
                </tr>
                <tr class = "warning">
                    <td>{{list1.18 }}</td>
                    <td>{{list1.19 }}</td>
                    <td>{{list1.20 }}</td>
                </tr>
                <tr class = "info">
                    <td>{{list1.21 }}</td>
                    <td>{{list1.22 }}</td>
                    <td>{{list1.23 }}</td>
                </tr>
                </tbody>
        </table>
    </div>
 </body>
</html>
